*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://i.ibb.co/1RfQ4jK/background1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width:100px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color :#fff;
    font-size: 15;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size:100px;

}

p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.card{
    width :200px;
    height :230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    
    background-position: center;
    background-size: cover;
    transition: transform 0.1;
}
.card1{
    background-image: url(https://thumbs.dreamstime.com/b/child-doing-yoga-tree-pose-cartoon-style-illustration-isolated-white-background-118314731.jpg);
}
.card2{
    background-image: url(https://i.ibb.co/MCBjYCJ/plank.png);
}
.card3{
    background-image: url(https://thumbs.dreamstime.com/b/woman-standing-yoga-pose-warrior-vector-illustration-virabhadra-cartoon-female-character-flat-people-icon-93142940.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5 a{
    color:rgb(110, 50, 0);

}